*{
   box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: georgia serif;
}


.menu{
	text-align: center;
	margin-bottom: 30px;
  font-family: Arial black;
  color: blue;
}

.container{
	position: relative;
	top: 60px;
	margin: 15px;
}

.row{
	width: 100%;

} 

.section1{
	position: relative;
	background-color: #DEB887; 
	margin: 17px;
	padding: 25px;
	border: 1px solid black;
	top: 0;
}

.section1 p{
	margin-top: 20px;
	font-size: 100%;
	text-align: justify;
	
}

.section1a{
	position: absolute;
	top: 0;
	right: 0px;
	padding: 6px 70px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

#chicken{
	background-color: #D59898;
  font-family: verdana;

}
#beef{
	background-color: #90FFFF;
  font-family: verdana;
}
#sushi{
	background-color: #B404AE;
  color: white;
  font-family: verdana;
}

/* Desktop*/
@media (min-width: 992px){
	.col-lg-4 {
		width: 33.33%;
    float: left;
    	}
   }
   

     /* Tablet */
     @media (min-width: 768px) and (max-width: 991px){
     	.col-md-6 {
     		width: 50%;
     		float: left;
     	}

     	 .col-md-12{
     	 	width: 100%;
     	 	float: left;
     	 }
     }

       /* Mobile  */
       @media (max-width: 767px) {
       	 .col-sm-12 {
       	 	width: 100%;
       	 	float: left;
       	 }
       }